# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
replicaCount: 1
image:
  registry: docker.io
  repository: opendatacube/explorer
  tag: "latest"
  pullPolicy: Always


database:
  database: ows
  host: database.local
  port: 5432
  adminSecret: dev-eks-datacube
  existingSecret: ows

global:
  externalDatabase:
    database: ows
  clusterSecret: ows

resources:
  limits:
    cpu: "300m"
    memory: 1024Mi

annotations:
  iam.amazonaws.com/role: dev-eks-datacube-wms

additionalEnvironmentVars: {}

service:
  type: NodePort
  port: 80
containerPort: 8080 # Internal port on which pod is running and serving cubedash app

dockerArgs: [ "gunicorn", "-b", "0.0.0.0:8080", "-w", "4", "--timeout", "60", "cubedash:app" ]

updateCreationDt:
  enabled: false
  historyLimit: 1
  cron: "0 13 * * *"  ## Run daily at 11 pm AEST
  suspend: false
  dockerArgs:
      - "cubedash-gen"
      - "--no-init-database"
      - "--refresh-stats"
      - "--force-refresh"
      - "--all"

additionalSettings: {}

affinity: {}

ingress:
  enabled: false
  path: "/*"
  hosts:
    - ""
  annotations:
    kubernetes.io/ingress.class: alb

pyspy:
  image: {}