boto3
click
colour
eventlet
flask
flask
flask-log-request-id
gevent
gunicorn
gunicorn[eventlet]
gunicorn[gevent]
jinja2
prometheus-client
pytest
pytest-localserver
pytest-mock
rasterio
requests
ruamel.yaml
scikit-image
timezonefinder
watchdog
yaml
